{% extends 'cadastros/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Página Inicial</title>
{% endblock %}

{% block conteudo %}
<p class="lead">
    {% for playlist in playlists %}
    <div class="float-left m-2 p-3 animais-list">
        <div class="">
            Nome: {{playlist.name}} <br>
            Descrição: {{playlist.description}}
        </div>
    </div>
    {% empty %}
    <span>Nenhum registro encontrado.</span>
    {% endfor %}

</p>
{% endblock %}